@model DemoMongoDB.Models.UserAccounts

@{
    ViewData["Title"] = "Chỉnh sửa người dùng" + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminPosts" asp-action="Index">Danh sách người dùng : page @ViewBag.CurrentPage</a>
            <span class="breadcrumb-item active">Chỉnh sửa người dùng</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminUserAccounts" asp-action="Edit" asp-route-id="@Model._id" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="_id" />
    <input type="hidden" asp-for="Avatar" />
    <input type="hidden" asp-for="CreateDate" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin người dùng</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên người dùng</label>
                        <input type="text" class="form-control" asp-for="FullName">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Ngày sinh</label>
                        <input type="date" class="form-control" asp-for="Birthday">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Email</label>
                        <input type="text" class="form-control" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Phone</label>
                        <input type="text" class="form-control" asp-for="Phone">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Địa chỉ</label>
                        <input type="text" class="form-control" asp-for="Address">
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                            <input name="fThumb" type="file" class="form-control-file" asp-for="Avatar">
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="m-t-25">
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="Active" checked="">
                                    <label for="Published"></label>
                                </div>
                                <label>Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <!-- page js -->
    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>

    <!-- Core js -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="~/Adminassets/summernote/summernote-bs4.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.summnernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: true // set focus to editable area after intitializing summernote
            });
        });
    </script>
}
