@model DemoMongoDB.Models.UserAccounts
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <form asp-action="ForgetPasswordEmail" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Recover Password</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" asp-for="Email"
                                    placeholder="Enter your email" required="required" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Send Recovery
                                    Email</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}
