
@{
    @* int CurrentPage = ViewBag.CurrentPage; *@
    ViewData["Title"] = "My Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orders = ViewBag.Order as List<DemoMongoDB.Models.Orders>;
}

<div class="container-fluid py-5">
    
    <div class="container pt-5 pb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/my-account.html">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Courses</li>
            </ol>
        </nav>
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Hello, @ViewBag.CustomerName, Here is
                your all courses:</h5>
            <h1>Your Courses</h1>
        </div>
        <div class="row">
            
            @if (orders != null)
            {
                foreach (var order in orders)
                {
                    foreach(var detail in order.OrderDetails){
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="rounded overflow-hidden mb-2">
                                <img class="img-fluid" src="~/images/courses/@detail.Thumb" alt="@detail.CourseTitle"
                                    style="object-fit: contain">
                                <div class="bg-secondary p-4">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>01h 30m</small>
                                    </div>
                                    <a class="h5" href="#">@detail.CourseTitle</a>
                                </div>
                            </div>
                        </div>
                    }
                    
                }
            }

        </div>
    </div>
</div>
