@{
    ViewData["Title"] = "Thank You";
}

<div class="container">
    <h2>Thank You for Your Order!</h2>
    <p>Your order with ID: <strong>@ViewBag.OrderId</strong> has been successfully placed.</p>
    <p>We have sent an email confirmation to: <strong>@ViewBag.CustomerEmail</strong>.</p>
    <p>You can take a photo and send payment bill to make order confirmation faster and more convenient!</p>
    <p>Thank you for shopping with us!</p>
</div>
